/* container */
$widthContainer: 1625px;
$paddingContainer: 10px;

/* base typography */
$baseFont: 'Montserrat', sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #000; /* base color for <a> */